<div class="center">
  <!-- <h1>Invozone Foodies System</h1> -->
  <div class="login-wrapper">

    <mat-card class="box">
      <mat-card-header>
        <mat-card-title class="title">Log in</mat-card-title>
      </mat-card-header>

      <form [formGroup]="loginForm" (ngSubmit)="login()" class="example-form">
        <mat-card-content>
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Email</mat-label>
            <input id="email" formControlName="email" type="email" matInput>
          </mat-form-field>

          <div *ngIf="getControls.email.touched && getControls.email.invalid">
            <div *ngIf="getControls.email.errors.required">Email is Required</div>
            <div *ngIf="getControls.email.errors.email">Email is not in proper format!</div>
          </div>

          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Password</mat-label>
            <input type="password" id="password" formControlName="password" matInput>
          </mat-form-field>


          <div *ngIf="getControls.password.touched && getControls.password.invalid">
            <div *ngIf="getControls.password.errors.required">Password is Required</div>
            <div *ngIf="getControls.password.errors.minlength">Password length should be at least 8 characters
            </div>
          </div>

          <div class="right-hor">
            <a [routerLink]="['/register']" routerLinkActive="router-link-active">Register</a>
          </div>
        </mat-card-content>
        <div class="center-hor">
          <button mat-raised-button color="primary" class="btn">Log in</button>
        </div>
      </form>
    </mat-card>

  </div>

</div>
