<div class="center">
  <div class="login-wrapper " fxLayout="row" fxLayoutAlign="center center">

    <mat-card class="box">
      <mat-card-header>
        <mat-card-title class="title">Register</mat-card-title>
      </mat-card-header>

      <form [formGroup]="registerForm" (ngSubmit)="register()" class="example-form">

        <mat-card-content>
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Username</mat-label>
            <input id="name" formControlName="name" matInput>
          </mat-form-field>

          <div *ngIf="getControls.name.touched && getControls.name.invalid">
            <div *ngIf="getControls.name.errors.required"> User name is Required</div>
          </div>

          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Email</mat-label>
            <input id="email" formControlName="email" type="email" matInput>
          </mat-form-field>


          <div *ngIf="getControls.email.touched && getControls.email.invalid">
            <div *ngIf="getControls.email.errors.required"> email is Required</div>
            <div *ngIf="getControls.email.errors.email"> email should be in proper format</div>
          </div>

          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Password</mat-label>
            <input id="password" formControlName="password" type="password" matInput>
          </mat-form-field>


          <div *ngIf="getControls.password.touched && getControls.password.invalid">
            <div *ngIf="getControls.password.errors.required"> password is Required</div>
            <div *ngIf="getControls.password.errors.email"> password should be at least 8 characters </div>
          </div>

          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Choose a role...</mat-label>
            <mat-select formControlName="role">
              <mat-option [value]="roles" *ngFor="let roles of Roles">{{roles}}
              </mat-option>
            </mat-select>
          </mat-form-field>


          <div *ngIf="getControls.role.touched && getControls.role.invalid">
            <div *ngIf="getControls.role.errors.required"> role is Required</div>
          </div>

        </mat-card-content>

        <button mat-raised-button color="primary" class="btn-block">Register</button>


      </form>
    </mat-card>
  </div>

</div>
