<div class="title-cancel-sub">
  <h1>Invoices</h1>
  <button mat-raised-button color="primary">Cancel Subsucription</button>
</div>
<div class="center-table">
  <div class="mat-elevation-z8 table">

    <table mat-table [dataSource]="dataSource">

      <!-- invoice_title Column -->
      <ng-container matColumnDef="invoice_title">
        <th mat-header-cell *matHeaderCellDef> Invoice Title </th>
        <td mat-cell *matCellDef="let element"> {{element.invoice_title}} </td>
      </ng-container>

      <!-- invoice_amount Column -->
      <ng-container matColumnDef="invoice_amount">
        <th mat-header-cell *matHeaderCellDef> Invoice Amount </th>
        <td mat-cell *matCellDef="let element"> {{element.invoice_amount}} </td>
      </ng-container>

      <!-- invoice_from_date Column -->
      <ng-container matColumnDef="invoice_from_date">
        <th mat-header-cell *matHeaderCellDef> Invoice From Date </th>
        <td mat-cell *matCellDef="let element"> {{element.invoice_from_date}} </td>
      </ng-container>

      <!-- invoice_to_date Column -->
      <ng-container matColumnDef="invoice_to_date">
        <th mat-header-cell *matHeaderCellDef> Invoice To Date </th>
        <td mat-cell *matCellDef="let element"> {{element.invoice_to_date}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
</div>
